@media screen and (min-width: 960px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .linkscontainer{
        display: grid;
        gap:0;
        padding: 50px;
    }
    .linkscontainer1{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto auto;
        gap:0;
        grid-column:1;
        gap:-10px;
    }
    .linkscontainer2{
        display: grid;
        gap:0;
        grid-column:2;
    }
    .linksitem{
        padding: 5px;
        text-align: center;
        font-size:18px;
    }

    .linksitem1{
        grid-column:2 ;
        grid-row:1 ;
    }
    .linksitem2{
        grid-column:2 ;
        grid-row:2 ;
    }
    .linksitem3{
        grid-column:2 ;
        grid-row:3 ;
    }
    .linksitem4{
        grid-column:2 ;
        grid-row:4 ;
    }
    .linksitem5{
        grid-column:2 ;
        grid-row:5 ;
    }
    .linksitem6{
        grid-column:2 ;
        grid-row:6 ;
    }
    .linksitem7{
        grid-column:3 ;
        grid-row:1 ;
    }
    .linksitem8{
        grid-column:3 ;
        grid-row:2 ;
    }
    .linksitem9{
        grid-column:3 ;
        grid-row:3 ;
    }
    .linksitem10{
        grid-column:3 ;
        grid-row:4 ;
    }
    .linksitem11{
        grid-column:3 ;
        grid-row:5 ;
    }
    .linksitem12{
        grid-column:3 ;
        grid-row:6 ;
    }

    .linksitem13{
        grid-column:1 ;
        grid-row:1 ;
    }
    .linksitem14{
        grid-column:2 ;
        grid-row:1 ;
    }
    .linksitem15{
        grid-column:2 ;
        grid-row:2 ;
    }    

    .navbar{
        width: 1440px;
        height: 115px;

        display: grid;
        grid-template-columns: 265px 550px 253px;
        gap: 100px;
    }

    .logo{
        width: 265px;
        height: 41px;

        padding-left: 75px;
        padding-top: 32px;
    }

    .menu{
        width: 550px;
        height: 54px;

        padding-left: 50px;
        padding-top: 32px;

        display: grid;
        grid-template-columns: 60px 50px 110px 210px;
        gap: 32px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 14.5px;
    }

    .tools{
        width: 253px;
        height: 28px;

        padding-top: 43px;
        padding-left: 220px;
    }

    .name{
        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
    }

    .main_page{
        width: 1440px;
        height: 600px;
        background-image: url(https://cdn.accentuate.io/75708432553/1619113187498/Teeccino-Blog-Banner.jpg?v=0);
        background-repeat: no-repeat;
    }

    .main_text{
        position: absolute;
        width: 486px;
        height: 200px;
        left: 180px;
        top: 450px;
        z-index: 2;

        animation-name: fade_in;
        animation-duration: 800ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .text1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 70px;
        color: #415167;
    }

    .text2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 70px;
        color: #ffffff;
    }

    .text2_bg{
        position: absolute;
        top: 520px;
        left: 160px;
        z-index: 1;

        width: 470px;
        height: 70px;

        background: #C7A17A;
    }

    @keyframes fade_in{
        0%{
            left: 10px;
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            left: 180px;
            opacity: 1;
        }
    }

    .info_container{
        width: 1104px;
        height: 382,57px;

        margin: 87px 148px 128px 148px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
    }

    .header{
        width: 1104px;
        height: 35px;

        grid-column-start: 1;
        grid-column-end: 5;

        display: flex;
        justify-content: center;
    }

    .info_header{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;
        color: #415167;
    }

    .info-item{
        width: 226px;
        height: 246.57px;
    }

    .icon{
        width: 80px;
        height: 81px;

        padding: 17.07px 73px 41.56px 73px;
    }

    .info_heading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #415167;
        padding-bottom: 12.11px;
    }

    .sourses{
        padding-left: 70px;
    }

    .quality{
        padding-left: 70px;
    }

    .nuts{
        padding-left: 85px;
    }

    .preparation{
        padding-left: 45px;
    }

    .info_p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #151D28;
    }

    .links{
        
        height: 359px;
        background-color: #faefec;
    }

    .frame{
        width: 1160px;
        height: 189px;

        padding: 20px;

        display: grid;
        grid-template-columns: 840px 320px;
    }

    .blocks{
        width: 840px;
        height: 189px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-block{
        width: 300px;
        height: 189px;
    }

    .text-block p{
        padding-bottom: 16px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .text-link{
        text-decoration: none;
        color: #1A1A1A;
    }

    .frame2{
        width: 320px;
        height: 189px;

        display: grid;
        grid-template-columns: 240px 80px;
        grid-template-rows: 123.5px 26.26px;
    }

    .copyright{
        

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
        text-align: right;
    }

    .copyright p{
        padding-bottom: 10px;
    }

    .footer-logo{
        padding-left: 24.35px;

       
    }

    .media-links{

        height: 26.26px;
    }

    .media-links a{
        padding-left: 16px;
    }
}

