@media screen and (min-width: 960px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .navbar{
        width: 1440px;
        height: 115px;

        display: grid;
        grid-template-columns: 265px 550px 253px;
        gap: 100px;
    }

    .logo{
        width: 265px;
        height: 41px;

        padding-left: 75px;
        padding-top: 32px;
    }

    .menu{
        width: 550px;
        height: 54px;

        padding-left: 50px;
        padding-top: 32px;

        display: grid;
        grid-template-columns: 60px 50px 110px 210px;
        gap: 32px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 14.5px;
    }

    .tools{
        width: 253px;
        height: 28px;

        padding-top: 43px;
        padding-left: 220px;
    }

    .name{
        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
    }

    .employees{
        width: 1440px;
        height: 906px;
    }

    .container_bg{
        width: 326px;
        height: 906px;

        background: #415167;

        position: absolute;
        left: 1114px;
        z-index: -1;
    }

    .title{
        width: 440px;
        height: 64px;

        padding: 88px 559px 64px 520px;
    }

    .subheader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        color: #415167;
    }

    .header{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;

        color: #415167;

        padding-left: 30px;
    }

    .employees_container{
        width: 1006px;
        height: 562px;

        margin-left: 260px;
        margin-right: 300px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 105px;

    }

    .information{
        width: 360px;
        height: 562px;

        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));

        display: block;
    }

    .employee_img{
        width: 360px;
        height: 360px;
    }

    .content{
        width: 360px;
        height: 262px;

        background-color: #ffffff;
    }

    .year{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        color: #C7A17A;

        padding-top: 34px;
        padding-left: 42px;
    }

    .emp_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        
        color: #415167;

        padding-top: 10px;
        padding-left: 42px;
    }

    .emp_info{
        width: 276px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        color: #151D28;

        padding-top: 10px;
        padding-left: 42px;
    }

    .btn{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;

        padding-top: 60px;
        padding-left: 180px;
    }

    .btn a{
        text-decoration: none;
        color: #151D28;
    }

    .links{
        width: 1440px;
        height: 359px;
        background-color: #faefec;
    }

    .frame{
        width: 1160px;
        height: 189px;

        padding: 84.84px 140px 85.16px 140px;

        display: grid;
        grid-template-columns: 840px 320px;
    }

    .blocks{
        width: 840px;
        height: 189px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-block{
        width: 300px;
        height: 189px;
    }

    .text-block p{
        padding-bottom: 16px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .text-link{
        text-decoration: none;
        color: #1A1A1A;
    }

    .frame2{
        width: 320px;
        height: 189px;

        display: grid;
        grid-template-columns: 240px 80px;
        grid-template-rows: 123.5px 26.26px;
    }

    .copyright{
        width: 240px;
        height: 123.5px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
        text-align: right;
    }

    .copyright p{
        padding-bottom: 10px;
    }

    .footer-logo{
        padding-left: 24.35px;

        width: 54.39px;
        height: 87.72px;
    }

    .media-links{
        width: 320px;
        height: 26.26px;

        display: flex;
        justify-content: end;
    }

    .media-links a{
        padding-left: 16px;
    }
}

@media screen and (max-width: 960px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .navbar{
        width: 1008px;
        height: 80.5px;

        display: grid;
        grid-template-columns: 185.5px 385px 177px;
        gap: 70px;
    }

    .logo{
        width: 185.5px;
        height: 28.7px;

        padding-left: 52.5px;
        padding-top: 22.4px;
    }

    .menu{
        width: 385px;
        height: 37.8px;

        padding-left: 35px;
        padding-top: 22.4px;

        display: grid;
        grid-template-columns: 42px 35px 77px 147px;
        gap: 32px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 10px;
        font-size: 14px;
    }

    .tools{
        width: 177px;
        height: 19.6px;

        padding-top: 30px;
        padding-left: 140px;
    }

    .name{
        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11.2px;
        background-color: #ffffff;
    }

    .employees{
        width: 1008px;
        height: 634.2px;
    }

    .container_bg{
        width: 228.2px;
        height: 634.2px;

        background: #415167;

        position: absolute;
        left: 779.8px;
        z-index: -1;
    }

    .title{
        width: 308px;
        height: 44.8px;

        padding: 61.6px 391.3px 44.8px 364px;
    }

    .subheader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 420;
        font-size: 14px;
        line-height: 16.8px;

        color: #415167;
    }

    .header{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 630;
        font-size: 21px;
        line-height: 23.8px;

        color: #415167;

        padding-left: 21px;
    }

    .employees_container{
        width: 704.2px;
        height: 393.4px;

        margin-left: 182px;
        margin-right: 210px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 73.5px;

    }

    .information{
        width: 252px;
        height: 393.4px;

        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));

        display: block;
    }

    .employee_img{
        width: 252px;
        height: 252px;
    }

    .content{
        width: 252px;
        height: 183.4px;

        background-color: #ffffff;
    }

    .year{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 420;
        font-size: 14px;
        line-height: 16.8px;
        
        color: #C7A17A;

        padding-top: 23.8px;
        padding-left: 29.4px;
    }

    .emp_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16.8px;
        line-height: 19.6px;
        
        color: #415167;

        padding-top: 7px;
        padding-left: 29.4px;
    }

    .emp_info{
        width: 193.2px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 210;
        font-size: 11.2px;
        line-height: 15.4px;

        color: #151D28;

        padding-top: 7px;
        padding-left: 29.4px;
    }

    .btn{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 210;
        font-size: 12.6px;
        line-height: 15.4px;

        padding-top: 42px;
        padding-left: 126px;
    }

    .btn a{
        text-decoration: none;
        color: #151D28;
    }

    .links{
        width: 1008px;
        height: 251.3px;
        background-color: #faefec;
    }

    .frame{
        width: 812px;
        height: 132.3px;

        padding: 59.3px 98px 59.6px 98px;

        display: grid;
        grid-template-columns: 588px 224px;
    }

    .blocks{
        width: 588px;
        height: 132.3px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-block{
        width: 210px;
        height: 132.3px;
    }

    .text-block p{
        padding-bottom: 11.2px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10.5px;
        line-height: 12.6px;
    }

    .text-link{
        text-decoration: none;
        color: #1A1A1A;
    }

    .frame2{
        width: 224px;
        height: 132.3px;

        display: grid;
        grid-template-columns: 168px 56px;
        grid-template-rows: 86.45px 18.3px;
    }

    .copyright{
        width: 168px;
        height: 86.45px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10.5px;
        line-height: 14.7px;
        text-align: right;
    }

    .copyright p{
        padding-bottom: 7px;
    }

    .footer-logo{
        padding-left: 17px;

        width: 38px;
        height: 61.4px;
    }

    .media-links{
        width: 224px;
        height: 18.3px;

        display: flex;
        justify-content: end;
    }

    .media-links a{
        padding-left: 11.2px;
    }
}

@media screen and (max-width: 720px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .navbar{
        width: 720px;
        height: 57.5px;

        display: grid;
        grid-template-columns: 132.5px 275px 126.5px;
        gap: 50px;
    }

    .logo{
        width: 132.5px;
        height: 20.5px;

        padding-left: 37.5px;
        padding-top: 16px;
    }

    .menu{
        width: 275px;
        height: 27px;

        padding-left: 25px;
        padding-top: 16px;

        display: grid;
        grid-template-columns: 30px 25px 55px 105px;
        gap: 16px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 7.25px;
        font-size: 10px;
    }

    .tools{
        width: 126.5px;
        height: 14px;

        padding-top: 21.5px;
        padding-left: 80px;
    }

    .name{
        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 11.2px;
        background-color: #ffffff;
    }

    .employees{
        width: 720px;
        height: 453px;
    }

    .container_bg{
        width: 163px;
        height: 453px;

        background: #415167;

        position: absolute;
        left: 557px;
        z-index: -1;
    }

    .title{
        width: 220px;
        height: 32px;

        padding: 44px 279.5px 32px 260px;
    }

    .subheader{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;

        color: #415167;
    }

    .header{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 450;
        font-size: 15px;
        line-height: 17px;

        color: #415167;

        padding-left: 15px;
    }

    .employees_container{
        width: 503px;
        height: 281px;

        margin-left: 130px;
        margin-right: 150px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 52.5px;

    }

    .information{
        width: 180px;
        height: 281px;

        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));

        display: block;
    }

    .employee_img{
        width: 180px;
        height: 180px;
    }

    .content{
        width: 180px;
        height: 131px;

        background-color: #ffffff;
    }

    .year{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        
        color: #C7A17A;

        padding-top: 17px;
        padding-left: 21px;
    }

    .emp_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        
        color: #415167;

        padding-top: 5px;
        padding-left: 21px;
    }

    .emp_info{
        width: 138px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 150;
        font-size: 8px;
        line-height: 11px;

        color: #151D28;

        padding-top: 5px;
        padding-left: 21px;
    }

    .btn{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 150;
        font-size: 9px;
        line-height: 11px;

        padding-top: 30px;
        padding-left: 90px;
    }

    .btn a{
        text-decoration: none;
        color: #151D28;
    }

    .links{
        width: 720px;
        height: 179.5px;
        background-color: #faefec;
    }

    .frame{
        width: 580px;
        height: 94.5px;

        padding: 42.42px 70px 42.58px 70px;

        display: grid;
        grid-template-columns: 420px 160px;
    }

    .blocks{
        width: 420px;
        height: 94.5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .text-block{
        width: 150px;
        height: 94.5px;
    }

    .text-block p{
        padding-bottom: 8px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 7.5px;
        line-height: 9px;
    }

    .text-link{
        text-decoration: none;
        color: #1A1A1A;
    }

    .frame2{
        width: 160px;
        height: 94.5px;

        display: grid;
        grid-template-columns: 120px 40px;
        grid-template-rows: 61.75px 13.13px;
    }

    .copyright{
        width: 120px;
        height: 61.75px;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 7.5px;
        line-height: 10.5px;
        text-align: right;
    }

    .copyright p{
        padding-bottom: 5px;
    }

    .footer-logo{
        padding-left: 12.17px;

        width: 27px;
        height: 43.86px;
    }

    .media-links{
        width: 160px;
        height: 13.13px;

        display: flex;
        justify-content: end;
    }

    .media-links a{
        padding-left: 8px;
    }
}

@media screen and (max-width: 540px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .grid-container {
        display: grid;
        padding: 10px;
        margin-bottom:50px;
        background: url(../images/menubg.jpg) no-repeat;
    }
      
    .grid-item {
        text-align: center;
        padding: 20px;
        font-size: 15px;
        font-weight:bold;
    }
      
    .item1 {
        grid-column: 1;
        grid-row: 1;
    }
    .item2 {
        grid-column: 1;
        grid-row: 2;
    }
    .item3 {
        grid-column: 1;
        grid-row: 3;
    }
    .item4 {
        grid-column: 1;
        grid-row: 4;
    }
    .item5 {
        grid-column: 1;
        grid-row: 5;
        color:black;
        background-color: rgba(255, 255, 255, 0.9);
    }
}