@media screen and (min-width: 960px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .nav{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;

        padding: 32px 75px;
    }

    .logo{
        width: 265px;
        height: 41px;

        grid-column: 1;
        grid-row: 1;
    }

    .navbar{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 15px;
    }

    .item:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .item1{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
    }
    .item3{
        grid-column: 3;
        grid-row: 1;
    }
    .item4{
        grid-column: 4;
        grid-row: 1;
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .name{
        grid-column: 3;
        grid-row: 1;

        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
        margin-top: 10px;
    }

    .name:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
        text-decoration: underline;
    }

    .menu{
        height: 895px;
    }

    .container_bg{
        width: 384px;
        height: 894px;

        position: absolute;
        z-index: -1;

        background-color: #C7A17A;
    }

    .menu_container{
        padding-top: 90px;

        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 70px;
    }

    .title{
        text-align: center;
        grid-row: 1;

        padding-top: 115px;
        padding-bottom: 70px;
    }

    .container_subheading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #415167;
    }

    .container_heading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;
        
        color: #415167;
    }

    .products{
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);

        gap: 40px;

        padding-left: 130px;
        padding-right: 130px;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(2, auto);

        background-color: #ffffff;
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .image{
        width: 240px;
        grid-column: 1;
        background-color: #EDF0F5;
    }

    .content{
        padding-left: 10px;
        padding-top: 45px;
        padding-right: 20px;
    }

    .cost{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        color: #C7A17A;

        padding-bottom: 8px;
    }

    .coffee_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        
        color: #415167;

        padding-bottom: 24px;
    }

    .description{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        color: #151D28;
    }

    .btn{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;

        padding-top: 40px;
    }

    .buy_now{
        grid-column: 2;

        border: none;
        border-radius: 19px;
        background-color: #C7A17A;
    }

    .buy_now_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: white;
    }

    .detail{
        grid-column: 3;
        
        border: none;
        background-color: #ffffff;
    }

    .detail_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #415167;
    }

    .animation{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .motionblur {
        position: absolute;
        top: 105px;
        width: 300px;
        height: 100px;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    
    .box {
        position: absolute;
        left: calc(50% - 50px);
        width: 100px;
        height: 100%;
        background: #415167;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    .box::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(65, 81, 103, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        transform-origin: 0 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95)-1.5s infinite;
    }
    .box::after {
        content: "";
        position: absolute;
        left: -100px;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(196, 94, 54, 0) 0%, rgba(65, 81, 103, 0.5) 50%);
        transform-origin: 100% 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    }
    
    @-webkit-keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }

        30% {
            transform: scale3d(1.3, 1, 1);
        }

        55% {
            transform: scale3d(0.5, 1, 1);
        }

        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }
    
    @keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }
        30% {
            transform: scale3d(1.3, 1, 1);
        }
        55% {
            transform: scale3d(0.5, 1, 1);
        }
        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }

    @-webkit-keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    @keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    .links{
        display: grid;
        padding: 50px;
        background-color: #faefec;
    }

    .frame1{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        gap: 20px;
        grid-column: 1;
    }

    .frame2{
        display: grid;
        gap: 20px;
        grid-column: 2;
    }

    .text-link{
        padding: 5px;
        text-align: center;
        font-size: 18px;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .linkitem1{
        grid-column: 1;
        grid-row: 1;
    }

    .linkitem2{
        grid-column: 1;
        grid-row: 2;
    }

    .linkitem3{
        grid-column: 1;
        grid-row: 3;
    }

    .linkitem4{
        grid-column: 1;
        grid-row: 4;
    }

    .linkitem5{
        grid-column: 1;
        grid-row: 5;
    }

    .linkitem6{
        grid-column: 1;
        grid-row: 6;
    }

    .linkitem7{
        grid-column: 2;
        grid-row: 1;
    }

    .linkitem8{
        grid-column: 2;
        grid-row: 2;
    }

    .linkitem9{
        grid-column: 2;
        grid-row: 3;
    }

    .linkitem10{
        grid-column: 2;
        grid-row: 4;
    }

    .linkitem11{
        grid-column: 2;
        grid-row: 5;
    }

    .linkitem12{
        grid-column: 2;
        grid-row: 6;
    }

    .copyright{
        grid-column: 1;
        grid-row: 1;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .footer-logo{
        grid-column: 2;
        grid-row: 1;
    }

    .media-links{
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (min-width:720px) and (max-width: 960px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .nav{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;

        padding: 32px 75px;
    }

    .logo{
        width: 265px;
        height: 41px;

        grid-column: 1;
        grid-row: 1;
    }

    .navbar{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 15px;
    }

    .item:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .item1{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
    }
    .item3{
        grid-column: 3;
        grid-row: 1;
    }
    .item4{
        grid-column: 4;
        grid-row: 1;
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .name{
        grid-column: 3;
        grid-row: 1;

        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
        margin-top: 10px;
    }

    .name:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
        text-decoration: underline;
    }

    .menu{
        height: 895px;
    }

    .container_bg{
        width: 384px;
        height: 894px;

        position: absolute;
        z-index: -1;

        background-color: #C7A17A;
    }

    .menu_container{
        padding-top: 90px;

        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 70px;
    }

    .title{
        text-align: center;
        grid-row: 1;

        padding-top: 115px;
        padding-bottom: 70px;
    }

    .container_subheading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #415167;
    }

    .container_heading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;
        
        color: #415167;
    }

    .products{
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);

        gap: 40px;

        padding-left: 130px;
        padding-right: 130px;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(2, auto);

        background-color: #ffffff;
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .image{
        width: 240px;
        grid-column: 1;
        background-color: #EDF0F5;
    }

    .content{
        padding-left: 10px;
        padding-top: 45px;
        padding-right: 20px;
    }

    .cost{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        color: #C7A17A;

        padding-bottom: 8px;
    }

    .coffee_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        
        color: #415167;

        padding-bottom: 24px;
    }

    .description{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        color: #151D28;
    }

    .btn{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;

        padding-top: 40px;
    }

    .buy_now{
        grid-column: 2;

        border: none;
        border-radius: 19px;
        background-color: #C7A17A;
    }

    .buy_now_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: white;
    }

    .detail{
        grid-column: 3;
        
        border: none;
        background-color: #ffffff;
    }

    .detail_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #415167;
    }

    .animation{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .motionblur {
        position: absolute;
        top: 105px;
        width: 300px;
        height: 100px;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    
    .box {
        position: absolute;
        left: calc(50% - 50px);
        width: 100px;
        height: 100%;
        background: #415167;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    .box::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(65, 81, 103, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        transform-origin: 0 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95)-1.5s infinite;
    }
    .box::after {
        content: "";
        position: absolute;
        left: -100px;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(196, 94, 54, 0) 0%, rgba(65, 81, 103, 0.5) 50%);
        transform-origin: 100% 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    }
    
    @-webkit-keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }

        30% {
            transform: scale3d(1.3, 1, 1);
        }

        55% {
            transform: scale3d(0.5, 1, 1);
        }

        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }
    
    @keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }
        30% {
            transform: scale3d(1.3, 1, 1);
        }
        55% {
            transform: scale3d(0.5, 1, 1);
        }
        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }

    @-webkit-keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    @keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    .links{
        display: grid;
        padding: 50px;
        background-color: #faefec;
    }

    .frame1{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        gap: 20px;
        grid-column: 1;
    }

    .frame2{
        display: grid;
        gap: 20px;
        grid-column: 2;
    }

    .text-link{
        padding: 5px;
        text-align: center;
        font-size: 18px;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .linkitem1{
        grid-column: 1;
        grid-row: 1;
    }

    .linkitem2{
        grid-column: 1;
        grid-row: 2;
    }

    .linkitem3{
        grid-column: 1;
        grid-row: 3;
    }

    .linkitem4{
        grid-column: 1;
        grid-row: 4;
    }

    .linkitem5{
        grid-column: 1;
        grid-row: 5;
    }

    .linkitem6{
        grid-column: 1;
        grid-row: 6;
    }

    .linkitem7{
        grid-column: 2;
        grid-row: 1;
    }

    .linkitem8{
        grid-column: 2;
        grid-row: 2;
    }

    .linkitem9{
        grid-column: 2;
        grid-row: 3;
    }

    .linkitem10{
        grid-column: 2;
        grid-row: 4;
    }

    .linkitem11{
        grid-column: 2;
        grid-row: 5;
    }

    .linkitem12{
        grid-column: 2;
        grid-row: 6;
    }

    .copyright{
        grid-column: 1;
        grid-row: 1;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .footer-logo{
        grid-column: 2;
        grid-row: 1;
    }

    .media-links{
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (min-width: 540px) and (max-width:720px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        
    }

    .nav{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;

        padding: 32px 75px;
    }

    .logo{
        width: 265px;
        height: 41px;

        grid-column: 1;
        grid-row: 1;
    }

    .navbar{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 15px;
    }

    .item:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .item1{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
    }
    .item3{
        grid-column: 3;
        grid-row: 1;
    }
    .item4{
        grid-column: 4;
        grid-row: 1;
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .name{
        grid-column: 3;
        grid-row: 1;

        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: #ffffff;
        margin-top: 10px;
    }

    .name:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
        text-decoration: underline;
    }

    .menu{
        height: 895px;
    }

    .container_bg{
        width: 384px;
        height: 894px;

        position: absolute;
        z-index: -1;

        background-color: #C7A17A;
    }

    .menu_container{
        padding-top: 90px;

        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 70px;
    }

    .title{
        text-align: center;
        grid-row: 1;

        padding-top: 115px;
        padding-bottom: 70px;
    }

    .container_subheading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #415167;
    }

    .container_heading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;
        
        color: #415167;
    }

    .products{
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);

        gap: 40px;

        padding-left: 130px;
        padding-right: 130px;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(2, auto);

        background-color: #ffffff;
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .image{
        width: 240px;
        grid-column: 1;
        background-color: #EDF0F5;
    }

    .content{
        padding-left: 10px;
        padding-top: 45px;
        padding-right: 20px;
    }

    .cost{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        color: #C7A17A;

        padding-bottom: 8px;
    }

    .coffee_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        
        color: #415167;

        padding-bottom: 24px;
    }

    .description{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        color: #151D28;
    }

    .btn{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;

        padding-top: 40px;
    }

    .buy_now{
        grid-column: 2;

        border: none;
        border-radius: 19px;
        background-color: #C7A17A;
    }

    .buy_now_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: white;
    }

    .detail{
        grid-column: 3;
        
        border: none;
        background-color: #ffffff;
    }

    .detail_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #415167;
    }

    .animation{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .motionblur {
        position: absolute;
        top: 105px;
        width: 300px;
        height: 100px;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    
    .box {
        position: absolute;
        left: calc(50% - 50px);
        width: 100px;
        height: 100%;
        background: #415167;
        animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    }
    .box::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(65, 81, 103, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        transform-origin: 0 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95)-1.5s infinite;
    }
    .box::after {
        content: "";
        position: absolute;
        left: -100px;
        width: 200px;
        height: 100%;
        background: linear-gradient(90deg, rgba(196, 94, 54, 0) 0%, rgba(65, 81, 103, 0.5) 50%);
        transform-origin: 100% 0;
        animation: scale 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    }
    
    @-webkit-keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }

        30% {
            transform: scale3d(1.3, 1, 1);
        }

        55% {
            transform: scale3d(0.5, 1, 1);
        }

        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }
    
    @keyframes scale {
        0% {
            transform: scale3d(0.5, 1, 1);
        }
        30% {
            transform: scale3d(1.3, 1, 1);
        }
        55% {
            transform: scale3d(0.5, 1, 1);
        }
        100% {
            transform: scale3d(0.5, 1, 1);
        }
    }

    @-webkit-keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    @keyframes slide {
        0% {
            transform: translate3d(-150px, 0, 0);
        }
        100% {
            transform: translate3d(150px, 0, 0);
        }
    }

    .links{
        display: grid;
        padding: 50px;
        background-color: #faefec;
    }

    .frame1{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        gap: 20px;
        grid-column: 1;
    }

    .frame2{
        display: grid;
        gap: 20px;
        grid-column: 2;
    }

    .text-link{
        padding: 5px;
        text-align: center;
        font-size: 18px;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .linkitem1{
        grid-column: 1;
        grid-row: 1;
    }

    .linkitem2{
        grid-column: 1;
        grid-row: 2;
    }

    .linkitem3{
        grid-column: 1;
        grid-row: 3;
    }

    .linkitem4{
        grid-column: 1;
        grid-row: 4;
    }

    .linkitem5{
        grid-column: 1;
        grid-row: 5;
    }

    .linkitem6{
        grid-column: 1;
        grid-row: 6;
    }

    .linkitem7{
        grid-column: 2;
        grid-row: 1;
    }

    .linkitem8{
        grid-column: 2;
        grid-row: 2;
    }

    .linkitem9{
        grid-column: 2;
        grid-row: 3;
    }

    .linkitem10{
        grid-column: 2;
        grid-row: 4;
    }

    .linkitem11{
        grid-column: 2;
        grid-row: 5;
    }

    .linkitem12{
        grid-column: 2;
        grid-row: 6;
    }

    .copyright{
        grid-column: 1;
        grid-row: 1;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .footer-logo{
        grid-column: 2;
        grid-row: 1;
    }

    .media-links{
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 540px){
    * {
        margin:0;
    }
    
    html, body{
        min-height:100%;
        background: #D5FFF7;
        
    }

    .nav{
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 30px;


        padding-top:30px;
        padding-left:20px;
        padding-bottom:20px;
    }

    .logo{
        width: 265px;
        height: 41px;
        grid-column: 1;
        grid-row: 1;
    }

    .navbar{
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-rows: repeat(1, auto);
        gap: 40px;
    }

    .item{
        text-decoration: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 15px;
    }

    .item:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .item1{
        grid-column: 1;
        grid-row: 1;
    }
    .item2{
        grid-column: 2;
        grid-row: 1;
    }
    .item3{
        grid-column: 3;
        grid-row: 1;
    }
    .item4{
        grid-column: 4;
        grid-row: 1;
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-right:30px;
    }
    
    .name{
        grid-column: 3;
        grid-row: 1;

        border: none;
        color:#292929;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
       
        margin-top: 10px;
    }

    .name:hover{
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
        text-decoration: underline;
    }

    .menu{
        height: 895px;
    }

    .container_bg{
        width: 384px;
        height: 894px;

        position: absolute;
        z-index: -1;

        background-color: #C7A17A;
        display:none;
    }

    .menu_container{
        padding-top: 90px;
        


        gap: 70px;
    }

    .title{
        text-align: center;

        padding-top: 15px;
        padding-bottom: 70px;
        margin-left:100px;
    }

    .container_subheading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #415167;
    }

    .container_heading{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 34px;
        
        color: #415167;
    }

    .products{
        grid-row: 4;

        display: grid;
        grid-template-rows: repeat(4, auto);

        gap: 40px;

        padding-left: 15px;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(4, auto);

        background-color: #ffffff;
        filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
    }

    .image{
        width: 240px;
        grid-column: 1;
        background-color: #EDF0F5;
    }

    .content{
        padding-left: 10px;
        padding-top: 45px;
        padding-right: 20px;
    }

    .cost{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        color: #C7A17A;

        padding-bottom: 8px;
    }

    .coffee_name{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        
        color: #415167;

        padding-bottom: 24px;
    }

    .description{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        color: #151D28;
    }

    .btn{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;

        padding-top: 40px;
    }

    .buy_now{
        grid-column: 2;

        border: none;
        border-radius: 19px;
        background-color: #C7A17A;
    }

    .buy_now_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: white;
    }

    .detail{
        grid-column: 3;
        
        border: none;
        background-color: #ffffff;
    }

    .detail_link{
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #415167;
    }

    .animation{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links{
        display: grid;
        padding: 50px;
        background-color: #faefec;
        display:none;
    }

    .frame1{
        display: grid;
        text-align: left;
        grid-template-columns: auto auto;
        gap: 20px;
        grid-column: 1;
    }

    .frame2{
        display: grid;
        gap: 20px;
        grid-column: 2;
    }

    .text-link{
        padding: 5px;
        text-align: center;
        font-size: 18px;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .linkitem1{
        grid-column: 1;
        grid-row: 1;
    }

    .linkitem2{
        grid-column: 1;
        grid-row: 2;
    }

    .linkitem3{
        grid-column: 1;
        grid-row: 3;
    }

    .linkitem4{
        grid-column: 1;
        grid-row: 4;
    }

    .linkitem5{
        grid-column: 1;
        grid-row: 5;
    }

    .linkitem6{
        grid-column: 1;
        grid-row: 6;
    }

    .linkitem7{
        grid-column: 2;
        grid-row: 1;
    }

    .linkitem8{
        grid-column: 2;
        grid-row: 2;
    }

    .linkitem9{
        grid-column: 2;
        grid-row: 3;
    }

    .linkitem10{
        grid-column: 2;
        grid-row: 4;
    }

    .linkitem11{
        grid-column: 2;
        grid-row: 5;
    }

    .linkitem12{
        grid-column: 2;
        grid-row: 6;
    }

    .copyright{
        grid-column: 1;
        grid-row: 1;

        text-decoration: none;
        color: #1A1A1A;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
    }

    .footer-logo{
        grid-column: 2;
        grid-row: 1;
    }

    .media-links{
        grid-column: 2;
        grid-row: 2;
    }
}